//FONTS
$roboto: "Roboto Condensed", sans-serif;
$roboto-slab: "Roboto Slab", sans-serif;

//ROOT
$root-background-color: #f2f2f2;
$root-link-color: #000000;
$root-text-color: #3c3c3c;

//SIGN IN
$signin-background-color: #028686;
$signin-shadow: #363636;
$signin-text-color: #ffffff;

//LOGOTYPE
$logotype-color: #2affed;
$logotype-shadow: #363636;

//NAVBAR
$navbar-background-color: #028686;
$navbar-linear-gradient-one: #028686;
$navbar-linear-gradient-two: #057474;
$navbar-linear-gradient-three: #057474;
$navbar-shadow-one: #0e1e251f;
$navbar-shadow-two: #0e1e2552;
$navbar-link-color: #ffffff;
$navbar-active-hover-color: #b3b3b3;

//MENU
$menu-shadow: #363636;

//USERINFO
$userinfo-background-color: #88c4c4;
$userinfo-linear-gradient-one: #88c4c4;
$userinfo-linear-gradient-two: #88c0c0;
$userinfo-linear-gradient-three: #88c0c0;
$userinfo-shadow-one: #32325d40;
$userinfo-shadow-two: #0000004d;
$userinfo-text-color: #000000;

//CARD
$card-background-color: #e2e2e2;
$card-shadow-one: #32325d40;
$card-shadow-two: #0000004d;
$card-date-text-color: #a3083c;
$card-date-border-color: #9b9a9a;
$card-user-text-color: #027070;;
$card-img-background-color: #88c4c4;
$card-border-color: #028686;
$card-hover-shadow-one: #32325d40;
$card-hover-shadow-two: #0000004d;
$card-hover-img-background: #028686;
$card-not-valid-color: #aa0e0e;

//BUTTON
$button-background-color-2: transparent;
$button-background-color: #82c7c7;
$button-shadow-one: #11111a1a;
$button-shadow-two: #11111a0d;
$button-text-color: #302f2f;

//BUTTON DISABLED
$button-disabled-background-color: transparent;
$button-disabled-color: #a5a5a5;
$button-disabled-border-color: #cfcfcf;

//MESSAGES
$messages-border-color: #88c4c4;

//INPUT, TEXTAREA
$input-border-color: #ccc;
$input-background-color: #f7f7f7;
$input-focus-border-color: transparent;
$input-focus-shadow: #88c4c4;

//LOADER, SPINNER
$loader-backoground-color: #e4e4e416;
$spinner-background-color: #028686;